@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/neat.scss";

$mobile: new-breakpoint(max-width 480px); $desktop: new-breakpoint(min-width 850px); $tablet: new-breakpoint(max-width 850px);

body, html{
font-family: $helvetica;
margin:0px;
}

.nav{
  display:none;
}

.nav ul{
  @include media($mobile){
    @include span-columns(12);
    text-align:center;
    padding-left:0px;
  }
  @include media ($desktop){
    @include span-columns(5);
    float:right;
  }
  @include media ($tablet){
    @include span-columns(12);
    text-align:center;
    padding-left:0px;
  }
  margin:0px;
  font-size:25px;
  list-style-type: none;
}

.nav li{
  display:inline-block;
  margin-left:20px;
  margin-bottom:10px;

}

a{
  text-decoration:none;
  color:blue;
}

.email-form{
  display:none;
}

.angel-logo{
  width:500px;
}

.sign-in{
 text-align:center;
 height:500px;
 margin-top:150px;
 font-size:30px;
 display:block;
 }

.email-form-compose input{
  width:100%;
  height:40px;
  border-radius:5px;
  font-size:16px;
  margin-bottom:5px;
  padding-left:10px;
}

form{
  margin-left:20px;
  margin-right:20px;
}

form input{
  border:1px solid #ddd;
  border-radius:5px;
}

.schedule-send input{
  width:100%;
  height:80px;
  font-size:16px;
}

.styled-select select{
  -webkit-appearance: menulist-button;
  height: 80px;
}

button.go-back{
  @include button (simple,#FF0000);
}

button{
   @include button(simple, #4CAF50);
   margin-left:20px;
   margin-top:20px;
}

.create-schedule {
  display: none;
}

input{
  border-left:0px;
  border-right:0px;
}

input:placeholder-shown {
  font-size:16px;
  padding-left:10px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}

#every-time{
  font-size:18px;
  font-family:Arial, FontAwesome;
}

#datepicker{
  font-size:16px;
  font-family:Arial, FontAwesome;
}

.schedule-send {
 margin-left: 0;
 margin-bottom:30px;
}

.send-at{
  @include media($mobile){
    @include span-columns(12);
  }
  @include media($desktop){
    @include span-columns(4);
  }
}
.styled-select{
  @include media($mobile){
    @include span-columns(12);
  }
  @include media($desktop){
  @include span-columns(4);
  }
}

.send-number{
  @include media ($mobile){
    @include span-columns(12);
  }
  @include media($desktop){
  @include span-columns(4);
  }
}

a.schedule {
  @include media ($mobile){
    @include span-columns(12);
  }
  @include media($desktop){
    @include span-columns(4);
    @include shift(8);
  }
  border:1px solid;
  background-color:#ff5817;
  height:80px;
  display:block;
  border-radius:5px;
  text-align:center;
  color:white;
  font-size:2em;
  font-weight:bold;
  vertical-align:middle;
  padding-top:20px;
  margin-top:30px;
  margin-bottom:60px;
}

.blue-box{
  @include media($mobile){
    height:700px;
  }
  @include media($tablet){
    height:700px;
  }
  @include media($desktop){
    height:480px;
  }
  background-color:#42A5F5;
  margin-top:50px;
  color:white;
  font-weight:bold;
  padding-top:30px;
  clear: both;
  margin-left:0px;
}

.envelope{
  @include media($mobile){
    @include span-columns(8);
    @include shift(2);
  }
  @include media($desktop){
    @include span-columns(6);
    padding-left:40px;
    padding-bottom:40px;
  }
  @include media($tablet){
    @include span-columns(8);
    @include shift(2);
  }
}

.product-info{
  @include media($mobile){
    @include span-columns(12);
    padding-left:20px;
    padding-right:20px;
  }
  @include media($desktop){
    @include span-columns(6);
      @include omega();
      padding-right:40px;
  }
  @include media($tablet){
    @include span-columns(12);
    padding-left:20px;
    padding-right:20px;
  }
}

img{
  width:100%;
}

.outbox{
  width:100px;
  border:2px solid blue;
  margin-top:30px;
  font-size:14px;
  border-radius:20px;
  width:100px;
  text-align:center;
  padding-top:5px;
  padding-bottom:5px;
}

.place_holder{
  color: black;
  background-color:white;
  font-size:16px;
  border: 1px solid #ddd;
  width:100%;
  border-radius:5px;
}
option{
    color: #000000;
}


.emails-container{
  @include span-columns(3);
  float:left;
  border-right:1px solid black;
  padding-left:10px;
  height:100%;
  display:none;
}
.email-container{
  @include span-columns(7);
  float:right;
  width:800px;
  margin-left:30px;
  display:none;
}

.email-container h1{
border-bottom:1px solid #ddd;
}

.email-container li{
  display:inline-block;
  width:100%;
  margin:0px;
  border-bottom:1px solid #ddd;
}

.email-container ul{
  padding:0px;
}

.email-body{
  margin-bottom:300px;
}
.email-body textarea{
  height:300px;
  width:100%;
  border: 1px solid #ddd;
  font-size:16px;
  border-radius:5px;
}

.email-master{
  border-top:1px solid #ddd;
}
.email-master img{
  @include span-columns(2);
  padding-top:5px;
  padding-bottom:5px;
  border-radius: 50%;
}

.email-master h2{
  font-size:10px;
}
.email-master p{
  margin-bottom:0px;
  font-size:12px;
}
