@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/neat.scss";

body, html{
font-family: $helvetica;
margin:0px;
}
.nav{
  display:none;
}
.nav ul{
  margin:0px;
  font-size:25px;
  padding-right:40px;
  float:right;
  list-style-type: none;
}
.nav li{
  display:inline-block;
  margin-right:30px;
  margin-bottom:10px;
}

a{
  text-decoration:none;
  color:blue;
}

.create-email input{
  width:100%;
  height:40px;
  border-radius:5px;
  font-size:25px;
  margin-bottom:5px;
}

form{
  margin-left:20px;
  margin-right:20px;
}

form input{
  border:3px solid #efefef;
}

a#schedule, a#confirm-button {
  border:1px solid ;
  background-color:#ff5817;
  height:80px;
  width:345.56px;
  display:block;
  border-radius:5px;
  text-align:center;
  color:white;
  font-size:30px;
  font-weight:bold;
  vertical-align:middle;
  padding-top:20px;
  margin-top:30px;
  margin-right:20px;
  // padding-top:50%;
  // box-shadow: 5px 5px 5px #888888;
  float:right;
}

.schedule-send input{
  width:100%;
  height:80px;
}

.styled-select select{
  width:200px;
  -webkit-appearance: menulist-button;
  height: 80px;
}

button.go-back{
  @include button (simple,#FF0000);
}

button{
   @include button(simple, #4CAF50);
   margin-left:20px;
   margin-top:20px;
}

.create-schedule {
  display: none;
}

input{
  border-left:0px;
  border-right:0px;
}

input:placeholder-shown {
  font-size:25px;
  padding-left:10px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}

:-ms-input-placeholder {
   color: black;
}

#every-time{
  font-size:30px;
}

.schedule-send {
  @include outer-container();
   margin-left: 0;
}
.send-at{
@include span-columns(4);
}
.styled-select{
  @include span-columns(4);
}
.send-number{
  @include span-columns(4);

}
.blue-box{
  background-color:#0a7bff;
  height:400px;
  margin-top:50px;
  color:white;
  font-weight:bold;
  padding-top:30px;
  // margin-right:0px;
  @include outer-container();
  margin-left:0px;
}
.envelope{
  @include span-columns(6);
  padding-left:40px;

}
.product-info{
  @include span-columns(6);
  padding-right:40px;
}
img{
  width:400px;
}

.outbox{
  width:100px;
  border:2px solid blue;
  margin-top:30px;
  font-size:14px;
  padding:10px;
  border-radius:20px;
  width:100px;
  text-align:center;

}

.place_holder{
    color: gray;
}
option{
    color: #000000;
}

.emails-container{
  float:left;
  width:350px;
  border-right:1px solid black;
  padding-left:10px;
  height:100%;
  display:none;
}

.email-container{
  float:right;
  width:800px;
  margin-left:30px;
  display:none;
}

.email-container li{
  display:inline-block;
  width:300px;
  margin:0px;
}

.email-container ul{
  padding:0px;
}

.email-body{
  margin-bottom:300px;
}
.email-body input{
  height:300px;
}

.email-master{
  border-top:1px solid black;
}

.email-master p{
  font-size:20px;
}
