@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/neat.scss";

body, html{
font-family: $helvetica;
margin:0px;
}

.nav{
  margin:0px;
}

a{
  text-decoration:none;
}

.create-email input{
  width:100%;
  height:80px;
  border-radius:5px;
  margin-bottom:20px;
  font-size:25px;
}

form{
  margin-left:20px;
  margin-right:20px;
}

form input{
  border:3px solid #D3D3D3;
}

a#schedule, a#confirm-button {
  border:1px solid ;
  background-color:#ff7400;
  height:100px;
  width:300px;
  display:block;
  border-radius:10px;
  text-align:center;
  color:white;
  font-size:30px;
  font-weight:bold;
  vertical-align:middle;
  margin-top:30px;
  margin-right:20px;
  // padding-top:50%;
  // box-shadow: 5px 5px 5px #888888;
  float:right;
}

.schedule-send input{
  width:100%;
  height:80px;
}

#datepicker{
  width:400px;
}

.styled-select select{
  width:200px;
  -webkit-appearance: menulist-button;
  height: 50px;
}


#every-time{
  width:400px;
}

button.go-back{
  @include button (simple,#FF0000);
}

button{
   @include button(simple, #4CAF50);
   margin-left:20px;
   margin-top:20px;
}


header{
  height:80px;
}

header li{
  color:red;
  font-size:25px;
  display:inline-block;
  padding-right:40px;
  float:right;
}


.create-schedule {
  display: none;
}




input:placeholder-shown {
  font-size:15px;
  padding-left:20px;
}

input{
  border-left:0px;
  border-right:0px;
}

.emails-container{
  float:left;
  width:350px;
  border-right:1px solid black;
  padding-left:10px;
  height:100%;
}

.email-container{
  float:right;
  width:800px;
  margin-left:30px;
}

.email-container li{
  display:inline-block;
  width:300px;
  margin:0px;
}

.email-container ul{
  padding:0px;
}

.email-body{
  margin-bottom:300px;
}
.email-body input{
  height:500px;
}

.email-master{
  border-top:1px solid black;
}

.email-master p{
  font-size:20px;
}
