@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon.scss";
@import "../../bower_components/neat/app/assets/stylesheets/neat.scss";

.create-schedule {
  display: none;
}

.nav{
  margin:0px;
}

.headline{
  background-color:#80D8FF;
  color:white;
  width:300px;
  height:70px;
  text-align:center;
  padding-top:20px;
  font-size:20px;
}

body, html{
font-family: $helvetica;
margin:0px;
}

.datepicker{
  font-family: $helvetica;
}

a{
  text-decoration:none;
}

header{
  height:80px;
}
.logo{
  float:left;
}

header li{
  color:red;
  font-size:25px;
  display:inline-block;
  padding-right:40px;
  float:right;
}

form{
  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  margin:50px;
  height:800px;
}

form ul{
  list-style-type: none;
  padding-left:0px;
  margin-bottom:50px;
}

.create-email input{
  width:100%;
  height:40px;
}

.schedule-send{
  height:500px;
  border-left:1px solid black;
  border-right:1px solid black;
  border-bottom:1px solid black;
  margin:50px;
  height:800px;
}

.schedule-send input{
  width:100%;
  height:40px;
}

.schedule-send li{
  list-style-type:none;
}
.create-email li p{
  background-color:grey;
  color:white;
  padding:25px;
  margin-bottom:0px;
  margin-top:0px;
  font-size:20px;
}

 button.go-back{
  @include button (simple,#FF0000);
}
button{
   @include button(simple, #4CAF50);
   margin-left:20px;
   margin-top:20px;
}

.styled-select{
  margin:20px;
}

.styled-select select{
  height:30px;
  background-color:pink;
  font-size:15px;
  margin-left:10px;
}

input:placeholder-shown {
  font-size:15px;
  padding-left:20px;
}

input{
  border-left:0px;
  border-right:0px;
}

.emails-container{
  float:left;
  width:350px;
  border-right:1px solid black;
  padding-left:10px;
  height:100%;
}

.email-container{
  float:right;
  width:800px;
  margin-left:30px;
}

.email-container li{
  display:inline-block;
  // margin-right:120px;
  width:300px;
  margin:0px;
}

.email-container ul{
  padding:0px;
}

a#schedule, a#confirm-button {
  border:1px solid ;
  background-color:#4CAF50;
  height:50px;
  width:200px;
  display:block;
  border-radius:10px;
  text-align:center;
  color:white;
  font-size:20px;
  font-weight:bold;
  vertical-align:middle;
  margin-top:30px;
  margin-right:20px;
  padding-top:10px;
  box-shadow: 5px 5px 5px #888888;
  float:right;
}

.schedule-send{
  display:none;

}

.email-body input{
  height:500px;
}

.email-master{
  border-top:1px solid black;
}

.email-master p{
  font-size:20px;
}
